.autocomplete-cont {
    margin-bottom: 20px;
    z-index: 2;
    position: fixed;
    input {
        min-width: 400px;
        height: 40px;
        border-radius: 12px;
        outline: none;
        border: 1px solid lightgray;
        padding: 10px;
        margin-bottom: 0;
    }
    .autocomplete-results {
        min-width: 400px;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-top: 0;
        margin-top: 0;
        overflow: auto;
        border-radius: 12px;
        cursor: pointer;
    }
}

@media (max-width: 630px) {
    .autocomplete-cont {
        margin-bottom: 20px;
        z-index: 2;
        position: fixed;
        input {
            min-width: 244px;
            height: 40px;
            border-radius: 12px;
            outline: none;
            border: 1px solid lightgray;
            padding: 10px;
            margin-bottom: 0;
        }
        .autocomplete-results {
            min-width: 230px;
            background-color: white;
            color: black;
            padding-left: 20px;
            padding-top: 0;
            margin-top: 0;
            overflow: auto;
            border-radius: 12px;
            cursor: pointer;
        }
    }
}