@font-face {
    font-family: open-sans;
    src: url("../fonts/open-sans.ttf");
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/ubuntu.ttf");
}

@font-face {
    font-family: roboto-normal;
    src: url("../fonts/roboto/roboto-regular.ttf");
}

@font-face {
    font-family: roboto-black;
    src: url("../fonts/roboto/roboto-black.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("../fonts/roboto/roboto-bold.ttf");
}

@font-face {
    font-family: roboto-thin;
    src: url("../fonts/roboto/roboto-thin.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("../fonts/roboto/roboto-light.ttf");
}

@font-face {
    font-family: berkshireswash-regular;
    src: url("../fonts/berkshireswash-regular.ttf");
}

@font-face {
    font-family: segoe-ui;
    src: url("../fonts/segoe-ui/segoe-ui.ttf");
}

@font-face {
    font-family: segoe-ui-bold;
    src: url("../fonts/segoe-ui/segoe-ui-bold.ttf");
}