// colors
$lightBgc: #eee;
$boardBtn: hsla(0, 0%, 100%, 0.24);
$boardBtnHov: hsla(0, 0%, 100%, 0.32);
$trelloGrey: #ebecf0;
$trelloFontColor: rgb(23, 43, 77);
$cardGrey: rgb(244, 245, 247);

// box shadow
$smaller-black-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.705);
$small-black-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.705);
$boardMenuItemHoverColor: rgba(9, 30, 66, 0.08);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;